// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/bulma";
//FAAB35 light orange
//FC6021 dark orange
// 0099a8


html{
  // background: url(./leafbg.jpg);
  // background: linear-gradient(rgba(247,240,240, 0.8),rgba(247,240,240, .8)),
  // no-repeat center center fixed url(./forestbg.jpg);
  background-size:cover;
  // background-repeat: repeat;
  // width:100%;
  height:100%;
  background: linear-gradient(rgba(0, 145, 122, .7),rgba(0, 145, 122, .7)),
  no-repeat center center fixed url(./forestbg.jpg);
  // background-color:rgba(247,240,240,1);
  // background-color:rgba(214, 134, 55, 0.7);
}

.label {
  color: rgb(247,247,240);
  font-weight: 500;
  font-size: 1.1rem;
}

.input {
  border-radius: 25px;
  opacity: .5;
}

.checkbox {
  color:rgb(247,247,240);
  font-weight:600;
  margin-bottom:1rem;
}

body{
  // background:url(https://images.pexels.com/photos/67221/water-lily-flower-aquatic-plant-bloom-67221.jpeg?cs=srgb&dl=aquatic-plant-bloom-blossom-67221.jpg&fm=jpg);
  // background-size:cover;
  // background-repeat: no-repeat;
  // height:100%;
  
}

.App{
  height: 100%;
  
}

.page-container{
  // display:flex;
  // align-items:center;
  // align-content:center;
  // justify-content:center;
  // height:100%;
}
//0099a8
//c8bfc7

.transparent-box{
  background-color: rgba(247,247,240,.4);
}

a {
  color: rgb(247,247,240);
}

Button{
  margin:1rem 0 1rem 0;
}

.title{
  margin:0;
  font-weight:bold;
  // font-size:40px;
  font-family: 'Raleway', sans-serif;
  color: rgb(247,247,240);
  text-align: center;
}

.button-container{
  width:100%;
  margin:0 auto;
  text-align:center;
  // margin-top:150px;
  margin-top:50px;
}

.rounded-button{
  border-radius:50px;
  margin:.25rem;
  width:75%;
  padding: 20px 0;
  font-size: 1.25rem;
}

.logout-button {
  border-radius:50px;
  margin-top: 25px;
  width:75%;
  padding: 10px 0;
  font-size: 1.25rem;
  border: #00d1b2 solid 1px;
  color: #00d1b2;
}

.rounded-button:hover {
  cursor: pointer;
}

.login-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.danger-input {
  border: 2px solid #2e5767;
}

.danger-text {
  color: #2e5767;
  font-weight: 700;
}

Label {
  color: rgb(247,247,240);
}

.Login {
  color: white;
}

.login {
  background: rgba(0,208,178,.4);
  // color: rgb(247,240,240);
  color: rgb(247,247,240);
  border: rgb(247,247,240) solid 1px;
}

.register {
  background: rgba(247,247,240,.8);
  // color: #00d1b2;
  color: #4a4a4a;
  border: #00d1b2 solid 1px;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.error-msg {
  margin-left: .5rem; 
}

.LandingPage{
  margin:0 auto;
  margin-top: 100px;
  font-size:1.5rem;
}

.landingpage-title{
  margin:0;
  font-weight:bold;
  font-size:40px;
  font-family: 'Raleway', sans-serif;
  color: rgb(247,247,240);

}

.slogan {
  font-style: italic;
  color: rgb(247,247,240);
}

// .signup{
//   background-color:white;
// }

.logo-title{
  margin:0;
  // background-color: rgb(34,208,178);
  // border-top:4px solid rgb(34,208,178);
  // border-bottom:4px solid rgb(34,208,178);
  // background-color:rgba(247,240,240,1);
  // padding:2rem;
  width:100%;

}

.Dashboard{
  text-align:center;
  margin:2rem;
  font-weight:500;
}

.QRCode-container{
  // padding:1rem;
  margin:.5rem;
}

// QRCode{
//   width:700px;
// }

.museum-membership {
  font-size: 1rem;
  color: rgb(247,247,240);
  // text-decoration: underline;
  // color: #fd8204;
}


.museum-membership:hover{
  font-size: 1rem;  
  color: rgb(247,247,240)
  // color:#fd8204
  // color: #fd8204;
}

.login-button {
  border-radius:50px;
  margin: 0;
  width:75%;
  padding: 15px 0;
  font-size: 1.25rem;
  // background: rgb(247,240,240);
  background: #00d1b2;
  color: rgb(247,247,240);
  opacity: .9;
  // color: #00d1b2;
  border: none;
}

.link-container {
  text-align: center;
  margin-top: 30px;
}

.login-links {
  // color: #00d1b2;
  font-weight: 600;
}

.login-links:hover {
  color: rgb(247,247,240)
}

.logo{
  margin-left: 1rem;
}

.Header{
  margin:0 auto 0 auto;
  padding: 0 auto 0 auto;
  align-items:center;
  border-bottom: solid 2px #fd8204;
  font-size: 1.1rem;
  // background-color: rgba(0,153,168,.95);
  background-color: rgba(247,247,240,1);



}

.header-links:hover{
  // background-color: #fd8204;
  // transition: background-color 0.2s linear;

}

.active {
  background-color: #fd8204;
}

.icon{
  height: 100px;
}

i{
  margin-right:.25rem;
}
.navtitle{
  align-items:center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  margin-left:0;


}


.Profile{
  margin:2rem;
  text-align:center;
}

.profile-details{
  text-align:left;
  font-weight:500;
}

.Profile .title{
  margin:.5rem;
  color:white;
}

.Profile .Label{
  padding:0;
}

.Login {
  margin: 2rem;
}



.Register{
  margin:2rem;
}
.ReportAnIssue{
  margin:2rem;
  font-weight:500;
}

.ScanProfile{
  margin: 2rem;
}

.Map{
  margin:2rem auto 2rem auto;
  width:95%;
  text-align:center;
  // height:700px;
  // overflow:auto;
}

.Map .title{
  margin:.25rem;
}

.RecoverPassword{
  margin:2rem;

}

.tagline{
  color: #fd8204;
  font-style:italic;
  font-weight:550;
}

.issue-text{
  margin-bottom:1rem;
}

.issues-box{
  background-color: #c8bfc7;
}

.checkin Button{
  margin:0 .5rem 0 0;
}

.avi {
  height: 110px;
  border-radius: 10%;
  margin: .5rem;
}

.user-info {
  margin-top: 20px;
}

.username {
  margin-bottom: 20px;
}

.issue {
  margin: 1rem 0;
  text-align:left;
}

.help {
  font-size: 1rem;
}

.recover {
  margin: 0 0 .5rem 0;
}

.ticketForm {
  width:80%;
  margin:auto;
  text-align:left;
}

.numberInput{
  width:60px;
}

.totalCost {
  text-align:left;
}

.PrePurchase {
  margin-top:20px;
}

// .emailGift{
//   width:80%
// }