// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/bulma";
//FAAB35 light orange
//FC6021 dark orange
// 0099a8
html{
  background-color:rgb(0, 145, 122);
}

body{
  background-size:cover;
  background: no-repeat center center fixed url(./bg_image800.jpg);
  min-height: 100vh;
}

.label {
  color: rgb(247,247,240);
  font-weight: 500;
  font-size: 1.1rem;
}

.card {
  background: rgb(247,247,240);
  padding: 10px;
  border-radius: 25px;
  margin: 0 auto;
  width: 90%;
}

.img-container {
  text-align: center;
}

.input {
  border-radius: 25px;
  opacity: .5;
}

.checkbox {
  color: black;
  font-weight:600;
  margin-bottom:1rem;
}

.selected {
  background: #fd8204;
}

body{
  // background:url(https://images.pexels.com/photos/67221/water-lily-flower-aquatic-plant-bloom-67221.jpeg?cs=srgb&dl=aquatic-plant-bloom-blossom-67221.jpg&fm=jpg);
  // background-size:cover;
  // background-repeat: no-repeat;
  // height:100%;
  
}

.App{
  height: 100%;
  
}

.page-container{
  // display:flex;
  // align-items:center;
  // align-content:center;
  // justify-content:center;
  // height:100%;
}
//0099a8
//c8bfc7

.transparent-box{
  background-color: rgba(247,247,240,.4);
}

.current-box {
  background: rgb(247,247,240);
}

.resolved-box {
  background: rgb(247,247,240);
}

.no-issues {
  margin-top: 150px;
}

a {
  color: rgb(247,247,240);
}

Button{
  margin:1rem 0 1rem 0;
  font-weight: 600;

}

.title{
  margin:0;
  font-weight:bold;
  // font-size:40px;
  font-family: 'Raleway', sans-serif;
  color: rgb(247,247,240);
  text-align: center;
}

.button-container{
  width:100%;
  margin:0 auto;
  text-align:center;
  // margin-top:150px;
  margin-top:50px;
}

.rounded-button{
  border-radius:50px;
  margin:.25rem;
  width:70%;
  padding: 10px 0;
  font-size: 1.25rem;
  
}

.logout-button {
  border-radius:50px;
  margin-top: 25px;
  width:75%;
  padding: 10px 0;
  font-size: 1.25rem;
  border: #00d1b2 solid 1px;
  color: #00d1b2;
  
}

.rounded-button:hover {
  cursor: pointer;
}

.login-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.danger-input {
  border: 2px solid rgb(238, 255, 0);
}

.danger-text {
  color: rgba(238, 255, 0, .9);
  font-weight: 700;
}

Label {
  color: rgb(247,247,240);
}

.Login {
  color: rgb(247,247,240);
}

.login {
  background: rgba(0,208,178,.7);
  // color: rgb(247,240,240);
  color: rgb(247,247,240);
  font-weight: 600;
  // border:#4a4a4a solid 1px;
  // border: none;
  border: rgba(247,240,240, .5) solid 2px;


}

.register {
  background: rgba(238, 255, 0,.4);
  // color: #00d1b2;
  // color: #4a4a4a;
  color: rgb(247,247,240);

  // color: rgba(247,247,240, 1);

  font-weight: 600;
  border: rgba(247,240,240, .5) solid 2px;
  // border: none;

  // margin-bottom: 15px;
}

.register-success{
  font-weight: 600;
  text-align:center;
}

.prepurchase {
  // background: rgba(0, 145, 122, 1);
  background: rgba(241,121,24,.9);
  // color: #00d1b2;
  color: rgba(247,247,240, 1);
  font-weight: 600;
  // border:#4a4a4a solid 1px;
  // border: none;
  border: rgba(247,240,240, .5) solid 2px;

    // margin-bottom: 15px;
}

.hidden {
  display: none;
}

.error-msg {
  margin-left: .5rem; 
  text-align: left;
}

.issue-content {
  margin: .5rem 0;
}

.LandingPage{
  margin:0 auto;
  padding-top: 75px;
  font-size:1.5rem;
}

.landingpage-title{
  margin:0;
  font-weight:bold;
  font-size:40px;
  font-family: 'Raleway', sans-serif;
  color: rgb(247,247,240);

}

.slogan {
  font-style: italic;
  color: rgb(247,247,240);
}

// .signup{
//   background-color:white;
// }

.logo-title{
  margin:0;
  // background-color: rgb(34,208,178);
  // border-top:4px solid rgb(34,208,178);
  // border-bottom:4px solid rgb(34,208,178);
  // background-color:rgba(247,240,240,1);
  // padding:2rem;
  width:100%;

}

.Dashboard{
  text-align:center;
  font-weight:500;
}

.QRCode-container{
  // padding:1rem;
  margin:.5rem;
}

// QRCode{
//   width:700px;
// }

.museum-membership {
  font-size: 1rem;
  color: rgb(247,247,240);
  // text-decoration: underline;
  // color: #fd8204;
}


.museum-membership:hover{
  font-size: 1rem;  
  color: rgb(247,247,240)
  // color:#fd8204
  // color: #fd8204;
}

.login-button {
  border-radius:50px;
  margin: 0;
  width:75%;
  padding: 15px 0;
  font-size: 1.25rem;
  // background: rgb(247,240,240);
  background: #00d1b2;
  color: rgb(247,247,240);
  opacity: .9;
  // color: #00d1b2;
  border: none;
  border: rgba(247,240,240, .5) solid 2px;
}

.link-container {
  text-align: center;
  margin-top: 30px;
}

.login-links {
  // color: #00d1b2;
  font-weight: 600;
}

.login-links:hover {
  color: rgb(247,247,240)
}

.logo{
  margin-left: 1rem;
}

.top-logo{
  margin-right: .25rem;
}
.Header{
  margin:0 auto 0 auto;
  padding: 0 auto 0 auto;
  align-items:center;
  border-bottom: solid 2px #fd8204;
  font-size: 1.1rem;
  // background-color: rgba(0,153,168,.95);
  background-color: rgba(247,247,240,1);



}

.is-active {
  color: gainsboro;
}

.issues-title {
  cursor: pointer;
  margin: 0 1rem;

  &:hover {
    color: lightgray;
  }
}

.header-links:hover{
  // background-color: #fd8204;
  // transition: background-color 0.2s linear;

}

.active {
  background-color: #fd8204;
}

.icon{
  height: 100px;
}

i{
  margin-right:.25rem;
}
.navtitle{
  align-items:center;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  margin-left:0;
  cursor: pointer;

}


.Profile{
  text-align:center;
}

.profile-details{
  text-align:left;
  font-weight:500;
}

.Profile .title{
  margin:.5rem;
  color:white;
}

.Profile .Label{
  padding:0;
}

.PrePurchase {
  padding: 1rem;
}


.contain {
  padding:2rem;
}
.ReportAnIssue{
  font-weight:500;
}

.Map{
  margin: 0 auto;
  padding: 1rem;
  width: 95%;
  text-align:center;
  // height:700px;
  // overflow:auto;
}

.title{
  margin:.25rem;
}

.tagline{
  color: #fd8204;
  font-style:italic;
  font-weight:550;
}

.issue-text{
  margin-bottom:1rem;
}

.issues-box{
  background-color: #c8bfc7;
}

.checkin Button{
  margin:0 .5rem 0 0;
}

.avi {
  height: 110px;
  border-radius: 10%;
  margin: .5rem;
}

.user-info {
  margin-top: 20px;
}

.username {
  margin-bottom: 20px;
}

.issue {
  margin: 1rem 0;
  text-align:left;
}

.help {
  font-size: 1rem;
}

.recover {
  margin: 0 0 .5rem 0;
}

.ticketForm {
  width:80%;
  margin:auto;
  text-align:center;
}

.numberInput{
  width:60px;
}

.totalCost {
  text-align:left;
  font-weight:600;
}

.totalCost-summary { 
  margin-top:1rem;
}


.ticketNumber {
  color:#4a4a4a;
  text-align:center;
  font-size:1.5rem;
  font-weight:600;

  // align-items:center;
}

.ticketNumber .fas {
  margin:.4rem;
  // padding:0;
  font-size:1.1rem;

}

.ticketNumber button {
  margin:0 1.5rem 1rem 1.5rem;
  border-radius:20%;
  padding:.7rem;
}

.ticket-label{
  color: #4a4a4a;
}

.PrePurchase-card {
  margin-top:1rem;
  
}

.PrePurchase .input {
  margin-bottom:.5rem;
}

.total-cost{
  font-size: 1.3rem;
}

.purchase-success{
  margin:1rem;
  font-weight: 500;
  text-align:center;
}
// .emailGift{
//   width:80%
// }
.dark-button{
  background-color:#4a4a4a;
  color:rgb(247,247,240);
}

@media (max-width: 320px) {
  .contain {
    padding:.5rem;
  }
  .Profile{
    margin:.5rem;
    text-align:center;
  }
  .LandingPage{
    margin:0 auto;
    padding-top: 30px;
    font-size:1.5rem;
  }
  
  .landingpage-title{
    margin:0;
    font-weight:bold;
    font-size:40px;
    font-family: 'Raleway', sans-serif;
    color: rgb(247,247,240);
  
  }
  .Login {
    margin: .5rem;
  }
    
  .Register{
    margin:.5rem;
  
  }
  .ReportAnIssue{
    margin:.5rem;
    font-weight:500;
  }
  
  .ScanProfile{
    margin: .5rem;
  }
  
  .ticketForm{
    width:100%;
  }

  .ticketNumber .fas {
    margin:.4rem;
    // padding:0;
    font-size:1.1rem;
  
  }
  
  .ticketNumber button {
    margin:0 1.5rem 1rem 1.5rem;
    border-radius:20%;
  }
  
  .Map{
    margin:2rem auto 2rem auto;
    width:95%;
    text-align:center;
    // height:700px;
    // overflow:auto;
  }

  .Dashboard{
    text-align:center;
    margin:.5rem;
    font-weight:500;
  }

  
  .Map .title{
    margin:.25rem;
  }
  
  .RecoverPassword{
    margin:.5rem;
  
  }

  .rounded-button{
    border-radius:50px;
    margin:.25rem;
    width:70%;
    padding: 7px 0;
    font-size: 1rem;
    
  }
  .button-container{
    width:100%;
    margin:0 auto;
    text-align:center;
    // margin-top:150px;
    margin-top:10px;
  }

  .landingpage-title{
    font-size:30px;
  }

  .slogan {
    font-size:20px;
  }
}