// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/bulma";


.Dashboard{
  text-align:center;
  margin:3rem;
}

.QRCode-container{
  padding:1rem;
}

.Header{
  margin:auto;
}

.Profile{
  margin:2rem;
  padding:1rem;
  text-align:center;
}

Button{
}