// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/bulma";
//FAAB35 light orange
//FC6021 dark orange
// 0099a8


html{
  // background: url(./leafbg.jpg);
  background: linear-gradient(rgba(247,240,240, 0.8),rgba(247,240,240, .8)),
  no-repeat center center fixed url(./forestbg.jpg);
  background-size:cover;
  // background-repeat: repeat;
  // width:100%;
  height:100%;
  background-color:rgba(247,240,240,1);
}

body{
  // background:url(https://images.pexels.com/photos/67221/water-lily-flower-aquatic-plant-bloom-67221.jpeg?cs=srgb&dl=aquatic-plant-bloom-blossom-67221.jpg&fm=jpg);
  // background-size:cover;
  // background-repeat: no-repeat;
  // height:100%;
  
}

.App{
  height: 100%;
  
}

.page-container{
  // display:flex;
  // align-items:center;
  // align-content:center;
  // justify-content:center;
  // height:100%;
}
//0099a8
//c8bfc7
.transparent-box{
  background-color: rgba(247,240,240,1);
}

a {
  color: #fd8204;
}

Button{
  margin:1rem 0 1rem 0;
}

.button-container{
  width:100%;
  margin:0 auto;
  text-align:center;
  // margin-top:150px;
  margin-top:100px;
}

.rounded-button{
  border-radius:50px;
  margin:.25rem;
  width:75%;
  padding: 20px 0;
  font-size: 1rem;
}

.rounded-button:hover {
  cursor: pointer;
}

.login {
  background: #00d1b2;
  color: rgb(247,240,240);
  border: rgb(247,240,240) solid 1px;
}

.register {
  background: #fff;
  color: #00d1b2;
  border: #00d1b2 solid 1px;
}

.LandingPage{
  margin:0 auto;
  margin-top: 150px;
}

.landingpage-title{
  margin:0;
  font-weight:bold;
  font-size:40px;
  font-family: 'Raleway', sans-serif;

}

.logo-title{
  margin:0;
  // background-color: rgb(34,208,178);
  // border-top:4px solid rgb(34,208,178);
  // border-bottom:4px solid rgb(34,208,178);
  // background-color:rgba(247,240,240,1);
  // padding:2rem;
  width:100%;

}

.Dashboard{
  text-align:center;
  margin:2rem;
}

.QRCode-container{
  padding:1rem;
}

.logo{
  margin-left: 1rem;
}

.Header{
  margin:0 auto 0 auto;
  padding: 0 auto 0 auto;
  align-items:center;
  border-bottom: solid 2px #fd8204;
  font-size: 1.1rem;
  // background-color: rgba(0,153,168,.95);
  background-color: rgba(247,240,240,1);



}

.header-links :hover{
  background-color: #fd8204;
  transition: background-color 0.2s linear;

}

.navtitle{
  align-items:center;

}

.Profile{
  margin:2rem;
  text-align:center;

}

.Login{
  margin:2rem;

}

.Register,
.ReportAnIssue{
  margin:2rem;
}

.ScanProfile{
  margin: 2rem;
}

.Map{
  margin:2rem auto 2rem auto;
  width:80%;
  // height:700px;
  // overflow:auto;
}

.RecoverPassword{
  margin:2rem;

}

.tagline{
  color: #fd8204;
  font-style:italic;
}

.issue-text{
  margin-bottom:1rem;
}

.issues-box{
  background-color: #c8bfc7;
}

.checkin Button{
  margin:0 .5rem 0 0;
}

.avi {
  height: 200px;
}

.issue {
  margin: 1rem 0;
  text-align:left;
}

.help {
  font-size: 1rem;
}

.recover {
  margin: 0 0 .5rem 0;
}