// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";
@import "bulma/bulma";
//FAAB35 light orange
//FC6021 dark orange
body{
  background:url(https://images.pexels.com/photos/67221/water-lily-flower-aquatic-plant-bloom-67221.jpeg?cs=srgb&dl=aquatic-plant-bloom-blossom-67221.jpg&fm=jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height:100%;
  
}

.transparent-box{
  background-color: rgba(255,255,255,.9)
}

a {
  color: #FAAB35;
}

Button{
  margin:1rem 0 1rem 0;
}

.Dashboard{
  text-align:center;
  margin:2rem;
}

.QRCode-container{
  padding:1rem;
}

.logo{
  margin-left: 1rem;
}

.Header{
  margin:0 auto 0 auto;
  padding: 0 auto 0 auto;
  align-items:center;
  border-bottom: solid 2px #FAAB35;
  font-size: 1.1rem;

}

.header-links :hover{
  background-color: #FAAB35;
  transition: background-color 0.2s linear;

}

.navtitle{
  align-items:center;

}

.Profile{
  margin:2rem;
  text-align:center;
}

.Login{
  margin:2rem;

}

.Register{
  margin:2rem;
}

.ScanProfile{
  margin: 2rem;
}

.tagline{
  color: #FAAB35;
  font-style:italic;
}

